[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.2.3"
django-registration-redux = "*"
django-bootstrap4 = "*"
django-bootstrap-themes = "*"
six = "*"
django-compressor = "*"
pillow = "*"
stripe = "*"
paypalrestsdk = "*"
gunicorn = "*"
whitenoise = "*"
python-decouple = "*"
django-extensions = "*"
python-dotenv = "*"
environ = "*"
django-environ = "*"
django-heroku = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.10"
