[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "==3.2.3"
django-registration-redux = "*"
django-bootstrap4 = "*"
django-bootstrap-themes = "*"
six = "*"
django-compressor = "*"
pillow = "*"
stripe = "*"
paypalrestsdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
