{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block body %}
<div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 loginbox">
    <div class="panel panel-info">
        <div class="panel-title">
            Your account has been activated.
        </div>
        <div class="panel-body" style="padding-top: 30px;">
            Success! Your Mid-Atlantic account
            has been activated.
        </div>
    </div>
</div>
{% endblock %}