{% extends 'base.html' %}

{% block banner %}

<div class="panel panel-info">
  <div class="panel-heading">
    <div id="create-account">Create a Mid-Atlantic Games account</div>
  </div>
  <div class="panel-body">
    <form class="form-horizontal" method="post" action='.'>
      {% csrf_token %}
      <div id="signupalert" style="display:none" class="alert alert-danger">
        <p>Error:</p>
        <span></span>
      </div>

      <div class="form-group">
        <label for="id_username" class="col-md-3 control-label">Username</label>
        <div>
            <input id="id_username" type="text" class="form-control" name="username" placeholder="Username" required>
        </div>
      </div>

      <div class="form-group">
        <label for="id_email" class="col-md-3 control-label">Email</label>
        <div>
            <input id="id_email" type="text" class="form-control" name="email" placeholder="Email Address" required>
        </div>
      </div>

      <div class="form-group">
        <label for="id_password1" class="col-md-3 control-label">Password</label>
        <div>
            <input id="id_password1" type="password" class="form-control" name="password1" placeholder="Password" required>
        </div>
      </div>

      <div class="form-group">
        <label for="id_password2" class="col-md-3 control-label">Confirm Password</label>
        <div>
            <input id="id_password2" type="password" class="form-control" name="password1" placeholder="Confirm Password" required>
        </div>
      </div>

      <div class="form-group">
        <div>
            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Register</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}