{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% block banner %}
<div class="about_title">
    About Me
</div>
{% endblock %}

{% block body %}
{% for post in posts %}
{% if forloop.last %}
<div class="row align-items-center justify-content-around about_display">
    <div class="col-lg-6 col-12">
        <img class="about_img" src="../../static/base/assets/aboutmephoto.jpg">
    </div>
    <div class="col-lg-4 col-10 about_description">
        <div>My name is Zachary Grubb, and I'm a student and entry
        level web developer living in Harrisonburg, VA. I'm currently
        attending Blue Ridge Community College, and I'm on track to
        transfer to GMU in order to finish a bachelors in IT.
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}